.btn, .btn:visited
	border: none
	outline: none !important
	cursor: pointer
	display: inline-block
	position: relative
	height: 20px
	width: 20px

.social-buttons
	+flex
	.btn
		margin-left: 30px
		margin-top: auto

.burger
	background: url('../img/burger.png') center center no-repeat

.close
	background: url('../img/close.png') center center no-repeat

svg
	transition: 200ms
	transition-timing-function: ease-in-out

.social-button_vk svg
	fill: $grey
	&:hover
		fill: #4d75a2

.social-button_twitter svg
	fill: $grey
	&:hover
		fill: #1da1f2