html
  height: 100%

body
  +flex-column
  justify-content: space-between
  height: 100%
  background: $background-main
  font-family: $mainFont

::selection
  background: $select-text-bg
  color: $select-text-color

::-moz-selection
  background: $select-text-bg
  color: $select-text-color

header
  position: absolute
  width: 100%
  flex: 0 0 auto
  height: $header-height
  z-index: 101
  .wrapper
  	+flex
  	justify-content: space-between
  	align-items: center
  .m-menu-button
  	display: none
  	margin-right: 10px
  .m-menu
  	display: none

.content
  flex: 1 0 auto

a
  text-decoration: none

main
  flex: 0 0 auto

footer
  position: absolute
  width: 100%
  bottom: 0
  flex: 0 0 auto
  height: $footer-height
  z-index: 101
  ul
  	+flex-center
  	justify-content: space-between
  	padding: 0
  li
  	display: inline-block
  	margin: 0 10px
  	max-width: auto
  	white-space: nowrap
  	font-size: 0.8em
  a
  	color: $grey
  	transition: color 1s
  	outline: none
  	&.visited
  		color: white
  .nav-active
  	transition: left 0.8s
  	width: 4px
  	height: 20px
  	background-color: white
  	position: absolute
  	bottom: 0
  .wrapper
  	padding-left: 20%
  	padding-right: 20%
.slider
	top: 0
	left: 0
	bottom: 0
	right: 0
	display: block
	width: 100%
	height: 100%
	overflow: hidden
	#section0
		background: url('../img/background-1.jpg') no-repeat
		&.webp
			background: url('../img/background-1.webp') no-repeat
	#section1
		background: url('../img/background-2.jpg') no-repeat
		&.webp
			background: url('../img/background-2.webp') no-repeat
	#section2
		background: url('../img/background-3.jpg') no-repeat
		&.webp
			background: url('../img/background-3.webp') no-repeat
	#section3
		background: url('../img/background-4.jpg') no-repeat
		&.webp
			background: url('../img/background-4.webp') no-repeat
	#section4
		background: url('../img/background-5.jpg') no-repeat
		&.webp
			background: url('../img/background-5.webp') no-repeat
	#section5
		background: url('../img/background-6.jpg') no-repeat
		&.webp
			background: url('../img/background-6.webp') no-repeat
	#section6_1
		background: url('../img/background-1.jpg') no-repeat
		&.webp
			background: url('../img/background-1.webp') no-repeat
	#section6_2
		background: url('../img/background-7.jpg') no-repeat
		&.webp
			background: url('../img/background-7.webp') no-repeat
	#section6_3
		background: url('../img/background-8.jpg') no-repeat
		&.webp
			background: url('../img/background-8.webp') no-repeat
	#section6_4
		background: url('../img/background-9.jpg') no-repeat
		&.webp
			background: url('../img/background-9.webp') no-repeat
	#section7
		background: url('../img/background-1.jpg') no-repeat
		&.webp
			background: url('../img/background-1.webp') no-repeat
.wrapper
	padding-left: $wrapper-side-space
	padding-right: $wrapper-side-space
	max-width: 1440px
	margin: auto !important
	height: 100%
	overflow: hidden
.section, .slide
	width: 100%
	height: 100% !important
	background-size: cover !important
	overflow: hidden
.slide__header
	position: absolute
	top: 100px
	max-width: 50% !important
	z-index: 101
	color: white
	h1
		text-transform: uppercase
		color: white
		font-size: 4em
		margin: 0
		z-index: 101
.border-bottom
	width: 80px
	margin-top: 36px
	border-bottom: 5px solid $dark-blue
.slide__header__list
	padding: 0
	padding-top: 20px
	list-style-type: none
	li
		margin-bottom: 30px
		font-size: 1.4em
.slide__img-right
	position: relative
	top: 30%
	float: right
	right: 15%
.video-wrapper
	position: absolute
	left: 50%
	margin-left: -31.5%
	top: 11%
	width: 62.2%
	height: 75%
	z-index: 100
	background-color: black
	transition: left 0.3s, box-shadow 0.3s, margin 0.3s, width 0.3s, height 0.3s
	&:hover
		width: 66.4%
		left: 43%
		margin-left: -26.5%
		height: 80%
		z-index: 105
		box-shadow: 0px 0px 10px 0px black
.iframe-wrapper
	width: 100%
	height: 100%
	z-index: 102
.background-video
	position: absolute
	top: 0
	left: 0
	min-height: 100%
	min-width: 100%
	width: auto
	height: auto
.slide__icons-wrapper
	+flex-center
	justify-content: space-between
	position: absolute
	top: 50%
	margin-top: -40px
	margin-left: 15%
	margin-right: 5%
	width: 70%
	white-space: nowrap
	height: $icons-wrapper-size
	.franchise-icon__circle
		+flex-center
		justify-content: center
		height: $icons-wrapper-size
		width: $icons-wrapper-size
		min-height: $icons-wrapper-size
		min-width: $icons-wrapper-size
		cursor: pointer
		transition: width 0.5s, height 0.5s
		z-index: 101
		cursor: pointer
		height: $icons-wrapper-size
		width: $icons-wrapper-size
		min-height: $icons-wrapper-size
		min-width: $icons-wrapper-size
		border: 3px solid $dark-blue
		border-radius: 50%
		margin-top: 300px
		transition: opacity 1.5s, margin-top 0.3s, width 0.5s, height 0.5s
		img
			height: $icons-wrapper-size*0.5
			width: $icons-wrapper-size*0.5
			transition: width 0.5s, height 0.5s
			margin: auto
		&.active
			cursor: default
			transition: width 0.5s, height 0.5s, opacity 1.5s, margin-top 0.3s
			height: $icons-wrapper-size*1.3
			width: $icons-wrapper-size*1.3
			min-height: $icons-wrapper-size*1.3
			min-width: $icons-wrapper-size*1.3
		&.active img
			height: $icons-wrapper-size*0.6
			width: $icons-wrapper-size*0.6
		&.inactive:hover
			@keyframes shadow-spin
				0%
					transform: rotate(0deg)
				25%
					transform: rotate(90deg)
				50%
					transform: rotate(180deg)
				75%
					transform: rotate(270deg)
				100%
					transform: rotate(360deg)
			animation-name: shadow-spin
			animation-duration: 0.6s
			animation-iteration-count: infinite
			border: 3px solid $light-blue
			box-shadow: 4px -5px 15px 1px $light-blue
		&.inactive:hover img
				@keyframes spin-back
					0%
						transform: rotate(0deg)
					25%
						transform: rotate(-90deg)
					50%
						transform: rotate(-180deg)
					75%
						transform: rotate(-270deg)
					100%
						transform: rotate(-360deg)
				animation-name: spin-back
				animation-duration: 0.6s
				animation-iteration-count: infinite
	.franchise-icon-dot
		height: 4px
		width: 4px
		border: 1px solid $dark-blue
		border-radius: 50%
		background-color: $dark-blue
		transition: opacity 1.5s, margin-top 0.3s
		box-shadow: 0px 0px 1px 1px $dark-blue
.slide__icons-description
	position: absolute
	top: 90px
	left: 300px
	color: white
	font-size: 1.3em
	cursor: default
	&.inactive
		opacity: 0
		top: 300px
		left: 300px
		transition: top 0.4s, opacity 0.5s, left 0s 0.5s
	&.active
		left: 0
		opacity: 1 !important
		transition: left 0.4s, opacity 2s
.slide__description
	position: absolute
	top: 405px
	color: white
	font-size: 1.4em
	max-width: 50%
.subscribe-form
	width: 420px
	background-color: white
	border-radius: 5px
	position: relative
	top: 100px
	float: right
	z-index: 101
	right: 100px
	.wrapper
		margin: 0 22px ! important
		padding: 0
	.subscribe-form__header
		border-bottom: 1px solid $light-grey
		padding-left: 22px
		padding-top: 10px
	h2
		font-stretch: condensed
		font-size: 1.4em
		color: $dark-grey
		padding: 15px
		padding-left: 0
		margin: 0
		font-weight: 100
	.subscribe-form__caption
		color: $grey
		font-size: 0.8em
		margin-top: 15px
		line-height: 1.5
	label
		display: block
		margin-top: 20px
		color: $grey
		font-size: 0.8em
		padding-right: 20px
	input
		margin-top: 8px
		display: block
		border-radius: 5px
		border: 1px solid $light-grey
		width: 99%
		&[type="text"], &[type="email"]
			font-size: 1.4em
			height: 30px
			box-shadow: inset 0px 1px 1px 0px $light-grey;
		&[type="checkbox"]
			width: auto
		&:focus
			border: 1px solid $mint
		&:invalid
			border: 1px solid $red
	.btn
		background-color: $mint
		border: none
		color: white
		margin-top: 30px
		height: 50px
		font-size: 1.1em
		font-stretch: condensed
		&:hover
			background: $dark-mint
	.subscribe-form__agree
		position: relative
		display: block
		margin: 20px 0 20px 0
		color: $dark-grey
		cursor: pointer
		padding-left: 30px
		padding-top: 2px
		input
			position: absolute
			opacity: 0
			&:checked ~ .checkmark
				background-color: $mint
				border: none
				border-radius: 2px
			&:checked ~ .checkmark:after
				display: block
		.checkmark
			position: absolute
			top: 0
			left: 0
			height: 20px
			width: 20px
			border: 1px solid $light-grey
			border-radius: 2px
			&:after
				content: ""
				position: absolute
				display: none
				left: 7px
				top: 3px
				width: 4px
				height: 9px
				border: solid white
				border-width: 0 2px 2px 0
				transform: rotate(45deg)
.horizontal-section
	top: 0
	display: block
	height: 100%
	width: 100%
	margin: 0
	h1
		max-width: 50%
	.slide__img-right
		+flex-center
		position: relative
		float: right
		top: 20%
		width: 400px
		height: 400px
		border: 2px solid $dark-blue
		border-radius: 50%
		img
			padding: 50px
.fp-controlArrow
	display: none

//скрытие и позиционирование элементов, нужных для анимации
#section0 .slide__header, #section0 .subscribe-form, #section0 .border-bottom,
#section1 .slide__header, #section1 .subscribe-form, #section1 .video-wrapper,
#section2 .slide__header, #section2 .slide__header__list li, #section2 .video-wrapper, #section2 .slide__img-right,
#section3 .slide__header, #section3 .slide__header__list li, #section3 .video-wrapper, #section3 .slide__img-right,
#section4 .slide__header, #section4 .franchise-icon__circle, .franchise-icon-dot, #section4 .slide__icons-description,
#section5 .slide__header, #section5 .slide__description,
#section6_1 .slide__header, #section6_1 .slide__description,
#section7 .slide__header, #section7 .subscribe-form, #section7 .border-bottom
	opacity: 0
#section0 .slide__header
	margin-left: 400px
#section0 .subscribe-form
	top: 400px
#section0 .border-bottom
	margin-left: 100px
#section0 .slide__description
	position: relative
	top: 35px
	max-width: 100%
#section1 .slide__header
	margin-top: 400px
	h1
		max-width: 50%
#section1 .border-bottom
	margin-left: 100px
#section1 .video-wrapper
	top: 90%
#section2 .slide__header
	margin-top: 400px
#section2 .border-bottom
	margin-left: 100px
#section2 .slide__header__list li
	margin-left: 300px
#section2 .slide__img-right
	margin-top: 400px
#section3 .slide__header
	margin-top: 400px
#section3 .border-bottom
	margin-left: 100px
#section3 .slide__header__list li
	margin-left: 300px
#section3 .slide__img-right
	top: 25% !important
	right: 10%
	margin-top: 400px
#section4 .slide__header
	margin-top: 400px
#section4 .border-bottom
	margin-left: 100px
#section4 .franchise-icon
	opacity: 0
	margin-top: 300px
#section4 .franchise-icon-dot
	opacity: 0
	margin-top: 300px
#section5 .slide__header
	margin-top: 400px
#section5 .border-bottom
	margin-left: 100px
#section5 .slide__description
	position: relative
	top: 35px
	margin-left: 400px
	width: 80%
	max-width: 100%
#section6 h1
	max-width: 40%
#section6_1 .slide__header
	+flex-column
	align-items: center
	position: relative
	margin: auto
	padding-top: 400px
	top: 40%
	h1
		text-align: center
		max-width: 100%
#section6_1 .border-bottom
	padding-left: 400px
#section6_2 .slide__header
	max-width: 10%
#section6_3 .slide__header
	max-width: 10%
#section6_4 .slide__header
	max-width: 10%
#section7
	.slide__header
		h1
			margin-left: 400px
	.slide__header__list
		padding: 0
		padding-top: 20px
		list-style-type: none
		li
			margin-bottom: 20px
			font-size: 1.2em
			margin-left: 400px
			opacity: 0
	.subscribe-form
		top: 20%
	.border-bottom
		margin-left: 400px
	.subscribe-form
		top: 400px
	
