=inline-block
	display: -moz-inline-stack
	display: inline-block
	zoom: 1

=flex
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

=flex-column
	+flex
	flex-direction: column

=flex-row
	+flex
	flex-direction: row

=flex-center
	+flex
	justify-content: center
	align-items: center

=icon
    border: none
    outline: none !important
    cursor: pointer
    display: inline-block
    position: relative