@media #{$tablet-screen}
	*
		opacity: 1 !important
	.wrapper
		padding-left: 15px !important
		padding-right: 15px !important
		text-align: center
	.fp-tableCell
		height: auto !important
		padding-bottom: 30px
		display: block !important
	header
		position: fixed
		z-index: 110
		background-color: rgba(0, 0, 0, 0.9)
		.m-menu-button
			display: block
		.m-menu
			+flex-column
			justify-content: space-between
			position: fixed
			top: $header-height
			background-color: rgba(0, 0, 0, 0.9)
			width: 100%
			z-index: 102
			height: auto
			overflow: scrolling
			display: none
			.m-menu-list
				justify-content: space-between
				height: 80%
				padding-left: 0 !important
				width: 100%
				margin: 0
				margin-top: 20px
			li
				+flex-center
				flex-direction: column
				margin-bottom: 32px
				.m-nav-active
					display: none
					width: 3px
					height: 8px
					margin-top: 2px
					margin-bottom: 10px
					background: white
				a
					color: $grey
					&.visited
						color: white
						& ~ .m-nav-active
							display: block
							margin-bottom: -10px
		.m-social-buttons
			display: block
			text-align: center
			padding-top: 40px
			margin-bottom: 30px
			.btn:first-child
				margin-right: 20px
		.social-button_vk svg
			fill: #4d75a2
		.social-button_twitter svg
			fill: #1da1f2
	footer
		display: none
	.wrapper
		margin: 0 15px
	.social-buttons
		display: none
	.slide__header
		padding-top: 35px
		position: static !important
		max-width: 90% !important
		text-align: center
		width: 100%
		margin-left: auto !important
		margin-right: auto !important
		h1
			line-height: 150%
			margin: auto
		.border-bottom
			margin-left: auto !important
			margin-right: auto !important
	.slide__description
		margin-left: auto !important
		margin-right: auto !important
		padding-bottom: 20px
	.slide__img-right
		margin-bottom: 30px
	.franchise-icon__circle
		margin: auto
		margin-top: 20px !important
	.subscribe-form
		position: static !important
		margin-bottom: 30px !important
		margin-left: auto !important
		margin-right: auto !important
		width: 100%
		float: none
		right: 0 !important
		.wrapper
			padding-left: 0 !important
			padding-right: 0 !important
		.subscribe-form__agree
			margin-bottom: 0
			padding-bottom: 20px
		*
			text-align: left
		input[type="submit"]
			text-align: center
	.section
		background-position: center center !important
		height: auto !important
		h1
			font-size: 1.8em !important
		.border-bottom
			margin-top: 25px
			width: 50px
		.slide__img-right
			position: static
			margin-top: 30px !important
			width: 100%
			float: none
		.slide__header__list
			margin-left: auto
			margin-right: auto
			li
				margin-bottom: 20px
				margin-left: 0 !important
			* 
				display: block
	#section0 .slide__header
		margin-top: 65px
	#section0 
		.slide__description
			display: block
			position: relative
			top: 30px
			max-width: 100%
			margin-bottom: 50px
	#section1
		.slide__header
			margin-top: 0
		.video-wrapper
			display: block
			position: relative
			margin-top: 30px
			margin-bottom: 30px
			left: auto
			margin-left: auto
			margin-right: auto
			width: 80%
			height: 250px
	#section2
		.background-video
			display: none
		.slide__header
			margin-top: 0
	#section3
		.slide__header
			margin-top: 0
	#section4
		.slide__header
			margin-top: 0
			min-width: 100% !important
			+flex-column
			align-items: center
		.fp-tableCell
			height: auto !important
		.franchise-icon
			margin: auto !important
			margin-top: 40px !important
			&.active .franchise-icon__circle
				height: $icons-wrapper-size
				width: $icons-wrapper-size
			&.active .franchise-icon__circle
				height: $icons-wrapper-size
				width: $icons-wrapper-size
				min-height: $icons-wrapper-size
				min-width: $icons-wrapper-size
			& .franchise-icon__circle:hover
				animation: none
				cursor: default
				box-shadow: none
				border: 3px solid $dark-blue
		.franchise-icon-dot
			display: none
		.slide__icons-wrapper
			margin: 0
			top: 0
			width: 100%
			height: auto
			display: block
			position: relative !important
			white-space: normal
			padding-bottom: 20px
		.slide__icons-description
			position: relative
			display: block
			top: 0
			left: 0
			max-width: 70%
			margin: auto !important
			margin-top: 10px !important
			text-align: center

	#section5
		.slide__header
			margin-top: 0 !important
		.slide__description
			position: relative
			top: 0
			margin-top: 30px
			max-width: 90% !important
	#section6_1, #section6_2, #section6_3, #section6_4
		display: block !important
		width: 100% !important
		.wrapper
			+flex-column
			align-items: center
		.slide__header
			padding-top: 35px
			width: 100% !important
			max-width: 100% !important
			+flex-column
			align-items: center
			h1
				text-align: center
				max-width: 80% !important
			.border-bottom
				margin-left: 0
				padding-left: 0
		.slide__img-right
			width: 300px !important
			height: 300px !important
	#section6_1
		.slide__header
			margin-bottom: 40px
	#section7
		.border-bottom
			opacity: 1
		.slide__header
			margin-left: 0
			opacity: 1
			h1
				margin-left: 0
		.subscribe-form
			opacity: 1
			margin-bottom: 20px

@media #{$phone-screen}
	.wrapper
		text-align: left !important
	.slide__header
		text-align: left !important
		h1
			font-size: 1.4em !important
			margin: 0
		.border-bottom
			margin-left: 0 !important
			margin-right: 0 !important
	.slide__description
		font-size: 1em !important
		line-height: 1.5
		font-size: 1em
	.subscribe-form
		width: 100%
	.video-wrapper
		width: 100% !important
	.slide__header__list
		*
			display: inline-block !important
		.list-number
			margin-right: 10px
		li
			font-size: 1em
	.slide__img-right
		width: 100%
	.slide__icons-description
		font-size: 1em
		max-width: 80% !important
	#section6 
		.slide__img-right
			width: 150px !important
			height: 150px !important
			img
				height: 50% !important
	header
		.m-menu
			height: 100%
		.m-menu-list
			height: auto !important
		.m-social-buttons
			padding-top: 0
	
@media #{$full-hd-screen}
	.slide__header
		top: 25%
		h1
			width: 80%
			font-size: 4.5em
	.slide__img-right
		top: 25% ! important
		width: 30%
		right: 10%;
