footer
	.wrapper
		nav
			ul#menu
				li
					a(href="#slide0")#anchor-1.visited О магазине
				li
					a(href="#slide1")#anchor-2 Видео
				li
					a(href="#slide2")#anchor-3 Уникальность
				li
					a(href="#slide3")#anchor-4 Ассортимент
				li
					a(href="#slide4")#anchor-5 Франшиза
				li
					a(href="#slide5")#anchor-6 Развитие
				li
					a(href="#slide6")#anchor-7 Преимущества
				li
					a(href="#slide7")#anchor-8 Презентация
	div.nav-active
script(src="js/app.bundle.js")
script(src="js/modernizr-custom.js")
	