header
	.wrapper
		a(href="http://checkitshop.com/").logo
			img(src='img/logo.png' alt="")
		.social-buttons
			a(href="https://vk.com/share.php?url=http://franchise.checkitshop.com" target="_blank" rel="noopener").btn.social-button_vk
				include ../../img/svg/icons/vk.svg
			a(href="http://twitter.com/share?url=http://franchise.checkitshop.com" target="_blank" rel="noopener").btn.social-button_twitter
				include ../../img/svg/icons/twitter.svg
		button(role="share").btn.m-menu-button.burger
	.m-menu
		ul.m-menu-list
			li
				a(href="#section0").visited О магазине
				.m-nav-active
			li
				a(href="#section1") Видео
				.m-nav-active
			li
				a(href="#section2") Уникальность
				.m-nav-active
			li
				a(href="#section3") Ассортимент
				.m-nav-active
			li
				a(href="#section4") Франшиза
				.m-nav-active
			li
				a(href="#section5") Развитие
				.m-nav-active
			li
				a(href="#section6") Преимущества
				.m-nav-active
			li
				a(href="#section7") Презентация
				.m-nav-active

		.m-social-buttons
			a(href="https://vk.com/share.php?url=http://franchise.checkitshop.com" target="_blank" rel="noopener").btn.social-button_vk
				include ../../img/svg/icons/vk.svg
			a(href="http://twitter.com/share?url=http://franchise.checkitshop.com" target="_blank" rel="noopener").btn.social-button_twitter
				include ../../img/svg/icons/twitter.svg