head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Франишиза Checkitshop
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(name="theme-color", content="#ffffff")

  link(href="css/main.min.css", rel="stylesheet")

  script(src="js/jquery-3.2.1.min.js")
  script(src="js/jquery.fullPage.js")