.slider(id="fullpage")
	section.section#section0.active
		.wrapper
			.slide__header
				h1 Магазины одежды нового поколения
				div.border-bottom
				.slide__description
					| С собственной информационной системой «Check it is»
			include subscribe-form
	section.section#section1
		.wrapper
			.slide__header
				h1 Видео о нас
				div.border-bottom
			.video-wrapper
					iframe(src="https://www.youtube.com/embed/SeWdxkA9lKk" frameborder="0" title="video presentation" allowfullscreen data-autoplay).iframe-wrapper
	section.section#section2
		.wrapper
			.slide__header
				h1 Уникальность формата
				div.border-bottom
				ul.slide__header__list
					li 
						span.list-number 1 
						| Продажи по всей России
					li
						span.list-number 2 
						| Технология оформления заказа из любого магазина сети
					li
						span.list-number 3 
						| Один интернет магазин для всех
			video(autoplay data-autoplay loop muted preload="metadata").background-video#video-planet
				source(src="img/animation/planet.mp4" type="video/mp4")
				source(src="img/animation/planet.webm" type="video/webm")
			img(src="img/display.png" alt="").slide__img-right
	section.section#section3
		.wrapper
			.slide__header
				h1 Концепция ассортимента
				div.border-bottom
				ul.slide__header__list
					li
						span.list-number 1 
						| Мультибренд молодежной одежды
					li 
						span.list-number 2 
						| Лимитированные серии одежды
					li
						span.list-number 3 
						| Доступные цены
			img(src="img/brands.png" alt="").slide__img-right
	section.section#section4
		.wrapper
			.slide__header
				h1 Франшиза
				div.border-bottom
			.slide
				.slide__icons-wrapper
					.franchise-icon__circle.active
						img(src="img/svg/icons/rocket.svg", alt="")
					.slide__icons-description.active
						| Запуск франшизы стартовал в августе 2017 года
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon__circle.inactive
						img(src="img/svg/icons/certificate.svg", alt="")
					.slide__icons-description.inactive
						| Продано 8 лицензий
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon__circle.inactive
						img(src="img/svg/icons/physics.svg", alt="")
					.slide__icons-description.inactive
						| Средняя стоимость магазина 1978 т. руб
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon-dot
					.franchise-icon__circle.inactive
						img(src="img/svg/icons/saturn.svg", alt="")
					.slide__icons-description.inactive
						| Доход от 124 тыс. руб. в  мес.
	section.section#section5
		.wrapper
			.slide__header
				h1 Стратегические направления развития
				div.border-bottom
				.slide__description
					| К 2020 году стать одним из крупнейших игроков на рынке молодежной одежды и России с территориальным присутствием в 60 городах
	section.section.horizontal-sections#section6
		section.slide.horizontal-section#section6_1
			.wrapper
				.slide__header
					h1 Три ключевых преимущества
					div.border-bottom
		section.slide.horizontal-section#section6_2
			.wrapper
				.slide__header
					h1 Поэтапное инвестирование от 300 Т.Р
					div.border-bottom
				.slide__img-right
					img(src="img/number-1.png", alt="")
		section.slide.horizontal-section#section6_3
			.wrapper
				.slide__header
					h1 Доход еще до открытия собственного магазина
					div.border-bottom
				.slide__img-right
					img(src="img/number-2.png", alt="")
		section.slide.horizontal-section#section6_4
			.wrapper
				.slide__header
					h1 Исключительные права на город
					div.border-bottom
				.slide__img-right
					img(src="img/number-3.png", alt="")
	section.section#section7
		.wrapper
			.slide__header
				h1 Получите полную презентацию проекта
				div.border-bottom
				ul.slide__header__list
					li
						span.list-number 1 
						| Описание франшизы
					li
						span.list-number 2 
						| Концепция ассортимента
					li
						span.list-number 3 
						| Финансовая модель
					li
						span.list-number 4 
						| Бизнес-план магазина на 3 года
					li
						span.list-number 5 
						| Технический обзор платформы «Check it is»
			include subscribe-form
