.subscribe-form
	form
		.subscribe-form__header
			h2 Получить полную презентацию
		.wrapper
			label(for="name" required) Ваше имя
				input(type="text" name="name" id="name")
			label(for="email" required) Электронная почта
				input(type="email" name="email" id="email")
			input(class="btn" type="submit" name="submit" value="Получить")
			div.subscribe-form__caption
				| На указанный Вами адрес будет отправлена информация о франшизе Checkitshop
			label(for="agree" required).subscribe-form__agree
				| Я соглашаюсь на получение рекламных сообщений
				input(type="checkbox" name="agree").subscribe-form__agree-checkbox
				span.checkmark